<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <title>Network</title>
  <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
  <style type="text/css">
    #mynetwork {
      width: 1500px;
      height: 600px;
      border: 1px solid lightgray;
    }
  </style>
  <body>
    {% extends "gspn_visualization_template.html" %}
    {% block content %}

    <h1> GSPN Visualization Module </h1>
    <p> This module is used for the offline visualization of a GSPN simulation. </p>
    <p> You can drag the places and the transitions to any place you want. </p>
    <p> You can also zoom in the network and move it around. </p>
    <p> Note: No real execution is performed. </p>

    <div id='info_section'>
      <p>{{ data.get_places() }}</p>
      <p>{{ data.get_transitions() }}</p>
    </div>

    <div id="mynetwork"></div>
    <script type="text/javascript">
      function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
      }
      var nodes = new vis.DataSet({});
      var edges = new vis.DataSet({});

      // Create nodes for the places
      var parsed_places = JSON.parse('{{data.get_places() | tojson}}');
      for(place in parsed_places) {
        nodes.add({id:place, shape:'circularImage', title:place, physics:'false', label:place, image:'https://q-cf.bstatic.com/images/hotel/max1024x768/220/220680927.jpg'});
      }

      // Create nodes for the transitions
      var parsed_transitions = JSON.parse('{{data.get_transitions() | tojson}}');
      for(transition in parsed_transitions) {
        nodes.add({id:transition, title:transition, shape:'square', physics:'false', label:transition, size:10});
      }

      // Get edge information
      var arcs_in = {{ data.get_arcs_dict()[0] }}
      var arcs_out = {{ data.get_arcs_dict()[1] }}

      // Create edges from places to transitions
      for(place in arcs_in){
        var parsed_places_map = JSON.parse('{{data.index_to_places | tojson}}');
        var place_id = parsed_places_map[place];
        for(transition in arcs_in[place]){
          var parsed_transitions_map = JSON.parse('{{data.index_to_transitions | tojson}}');
          var transition_id = parsed_transitions_map[arcs_in[place][transition]];
          edges.add({from:place_id, to:transition_id, arrows:'to'});
        }
      }

      // Create edges from transitions to places
      for(transition in arcs_out){
        var parsed_transitions_map = JSON.parse('{{data.index_to_transitions | tojson}}');
        var transition_id = parsed_transitions_map[transition];
        for(place in arcs_out[transition]){
          var parsed_places_map = JSON.parse('{{data.index_to_places | tojson}}');
          var place_id = parsed_places_map[arcs_out[transition][place]];
          edges.add({from:transition_id, to:place_id, arrows:'to'});
        }
      }

      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {};
      var network = new vis.Network(container, data, options);
    </script>

    {% endblock %}
  </body>
</html>